html {
	background-color: #0f7134;
}

h1 {
	color: white;
	margin: 0 auto;
	text-align: center;
}

.mensaje-principal {
	width: 100%;
	margin: 0 auto;
	position: relative;
	text-align: center;
}

h2 {
	position: relative;
	text-align: center;
	size: 50px;
	padding: 5px;
	background-color: #cccccc;
	width: 100%;
}

.alura {
	vertical-align: middle;
}

nav {
	position: relative;
	text-align: center;
	margin: 0 auto;
}

nav button {
	margin: 0 auto;
	text-align: center;
	position: relative;
}

#encriptar {
	font-size: 20px;
	font-family: 'Times New Roman', Times, serif;
	padding: 10px;
}

#encriptar img {
	height: 1.5em;
	margin-right: 5px;
}

#desencriptar {
	font-size: 20px;
	font-family: 'Times New Roman', Times, serif;
	padding: 10px;
}

#desencriptar img {
	height: 1.5em;
	margin-right: 5px;
}

#limpiar {
	font-size: 20px;
	font-family: 'Times New Roman', Times, serif;
	padding: 10px;
}

#limpiar img {
	height: 1.5em;
	margin-right: 5px;
}

#copiar {
	font-size: 20px;
	font-family: 'Times New Roman', Times, serif;
	padding: 10px;
}

#copiar img {
	height: 1.5em;
	margin-right: 5px;
}

main {
	position: relative;
	text-align: center;
}

#zona-encriptar {
	width: 440px;
	height: 300px;
	display: inline-block;
}

#texto {
	width: 100%;
	padding: 20px 20px;
	margin: 0 auto;
	font-size: 20px;
}

#contenedor-global {
	display: inline-block;
	width: 440px;
	height: 300px;
	background-color: beige;
	margin-left: 120px;
	position: relative;
}

.contenedor-texto {
	position: relative;
}

#resultado {
	display: inline-block;
	width: 100%;
	height: 100%;
	padding: 20px 20px;
	font-size: 20px;
}

#imagen-hack {
	position: absolute;
	bottom: -20px;
	right: -20px;
	height: 100%;
	width: 100%;
}

::placeholder {
	font-size: 20px;
}

#final {
	text-align: center;
	background-color: bisque;
	padding: 10px 10px;
	vertical-align: top;
	width: 100%;
}

h3 {
	display: inline-block;
}

a img {
	display: inline-block;
	height: 50px;
}

a {
	margin: 0 auto
}

#footer {
	height: 100%;
	display: inline-block;
}

#footer2 {
	display: inline-flex;
	vertical-align: top;
}


h4 {
	display: inline-block;
	position: relative;
}

@media screen and (max-width: 768px) {
	#zona-encriptar {
		margin: 0 auto;
		width: 80%;
	}

	#contenedor-global {
		margin: 0 auto;
		width: 80%;
	}

	nav {
		width: 100%;
		margin: 0 0 10px 10px;
	}

	nav button {
		margin: 0 0 10px 10px;
		text-align: center;
	}

	#encriptar {
		margin: 0 10px 5px 0;
		text-align: center;
	}

	#limpiar {
		margin: 5px 0 10px 0;
		text-align: center;
	}

	footer {
		width: 100%;
		position: relative;
		height: 150px;
	}

	h3 {
		text-align: center;
		position: relative;
		display: inline-block;
	}

	#footer {
		width: 100%;
		position: relative;
		display: inline-block;
	}

	#footer~a {
		position: relative;
		display: inline-block;
	}

}